basic:
  # true|false, with debug level, it prints more debug info
  debug: ${DEBUG}
  port: ${HOST_PORT}
  restPort: ${CONTAINER_PORT}
  prometheus: ${PROMETHEUS_ON}
  prometheusPort: ${PROMETHEUS_PORT}
